
body{
    background-color: rgb(172, 99, 240);
 
}

.card{
   
    background-image: linear-gradient(#ec970f,#17a2b8 );

}
h1{
    color: #17a2b8;
}
.navbar{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);

}

input{
    background-color: transparent !important;
    outline: none;
  
}
.form-control::placeholder{
    color:#fff;
}
.form-control{
    color: #fff !important;
}
.form-control:focus{
    box-shadow: 0 0 5px 1px #ec970f ;
    }